.one.two {
    background-color: #1f2937;
    border: #1f2937;
    height: 40px;
    
}

.three.five {
    background-color: white
}
.four {
    background-color: #e5e7ebd8;
    border: black


}
.header {
    color: #F9FAF8;
    size: 24px;

}

.one .headerlink {
    color: #e5e7eb;
    size: 18px;

}