.one.two {
    background-color: #1f2937;
}

.three.five {
    background-color: white
}
.four {
    background-color: #e5e7ebd8


    
}
.header {
    color: #F9FAF8;
    size: 24px;

}

.headerLinkOne.headerLinkTwo.headerLinkThree {
    color: #e5e7eb;
    size: 18px;

}